doctype html
html(lang='en')
  head
    title= "All: grunt-js-test"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/js-test-env/site.css', media='screen')
    link(rel='stylesheet', href='/js-test-env/mocha.css', media='screen')
    script(src='/js-test-env/jquery.js')
    script(src='/js-test-env/iframes.js')
  body
    #mocha(style='margin: 0 50px')
      ul#mocha-stats
        li.progress
        li.passes
          a(href='#')
            | passes:
            em#passes 0
        li.failures
          a(href='#')
            | failures:
            em#failures 0

      h1 All tests

      iframe#testFrame(src='about:blank')
      div#failing
      div#passing
    
      script.
        window.__tests__ = !{JSON.stringify(tests.map(function(test) { return test.url + (coverage ? '&coverage=1' : ''); }))};
        window.runAllTests();