doctype html
html(lang='en')
  head
    title
      block title
        | grunt-js-test

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    block styles
      link(rel='stylesheet', href='/js-test-env/bootstrap.min.css', media='screen')
      link(rel='stylesheet', href='/js-test-env/site.css', media='screen')

  body.bootstrap(base=projectBaseUri)
    .container-fluid
      .navbar.navbar-default.navbar-fixed-top
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/', title='grunt-js-test') grunt-js-test
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/all') Run all tests
            //- - if (options.coverage) {
            //-   li
            //-     a(href='/all?coverage=1') Generate new coverage report
            //- - }
            li
              a(href='https://github.com/benhutchins/grunt-js-test/wiki', target='_blank') Help

      block content

    block scripts