extends base

block content
  .panel.panel-default
    .panel-heading.clearfix Tests
    table.table
      tbody
        - tests.forEach(function (test, testNumber) {
          tr
            td
              a(href=test.uri)= test.file
        - });