extends base

block append title
	|&middot; Coverage Reports

block append styles
	link(rel='stylesheet', type='text/css', href='/js-test-env/jscoverage-highlight.css')
	link(rel='stylesheet', type='text/css', href='/js-test-env/jscoverage.css')
	//if IE
		link(rel='stylesheet', type='text/css', href='/js-test-env/jscoverage-ie.css')

block append scripts
	script(type='text/javascript', src='/js-test-env/coverage.js')
	script(type='text/javascript', src='/js-test-env/jscoverage.head.js')
	script(type='text/javascript', src='/js-test-env/jscoverage.js')

block content
	h2
		| Coverage report

	- if (coverageReports.length > 1) {
		select#report
			- coverageReports.forEach(function (reportFile) {
				option(value=reportFile, selected=(report==reportFile))= reportFile
			- });
	- }

	ul#tabs.nav.nav-tabs(data-tabs="tabs")
		li.active
			a(href='#summaryPage', data-toggle="tab") Summary
		li.disabled
			a#sourceTab(href='#sourcePage', data-toggle="tab") Source

	#progress.progress
		.progress-bar(role="progressbar", style="width: 60%")
			span 60% Complete

	.tab-content
		.tab-pane.active#summaryPage
			//- .panel-heading Code coverage summary
			input#showMissing(type='checkbox')
			label(for='checkbox') Show missing statements column
			#summaryErrorDiv

			table.table.table-striped.table-bordered.table-condensed#summaryTable
				thead
					tr#headerRow
						th File
						th(title='The number of statements actually executed / The total number of executable statements') Statements
						th(title='The number of branches covered / The total number of branches') Branches
						th(title='The number of functions covered / The total number of functions') Functions
						th
							a(href='javascript:jscoverage_recalculateSummaryTabBy(\'Coverage\')')
								abbr(title='Number of executed statements as a percentage of total number of statements') Coverage
						th
							a(href='javascript:jscoverage_recalculateSummaryTabBy(\'Branch\')')
								abbr(title='Number of executed branch paths as a percentage of total number of branch paths') Branch
						th
							a(href='javascript:jscoverage_recalculateSummaryTabBy(\'Function\')')
								abbr(title='Number of executed functions as a percentage of total number of functions') Function
					tr#summaryTotals
						td.leftColumn
							span.title Total:
							span 0
						td.numeric 0
						td.numeric 0
						td.numeric 0
						td.coverage
							.pctGraph
								.covered
							span#summaryTotal.pct 0%
						td.coverage
							.pctGraph
								.covered
							span#branchSummaryTotal.pct 0%
						td.coverage
							.pctGraph
								.covered
							span#functionSummaryTotal.pct 0%
					//-
						<tr>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0%</td>
						<td>0</td>
						</tr>
				tbody#summaryTbody

		.tab-pane#sourcePage
			.panel
				h1#fileDiv
				#sourceDiv
		.tab-pane#storeTabPage
			button.btn.btn-default#storeButton(href='/jscoverage.json') Store Report
			ul#storeDiv