!!! 5
html(lang='en')
  head
    title= "JS Test Env: All tests"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/js-test-env/site.css', media='screen')
    link(rel='stylesheet', href='/js-test-env/mocha.css', media='screen')
    script(src='/js-test-env/iframes.js')
  body
    #mocha(style='margin: 0 50px')
      ul#mocha-stats
        li.progress
        li.passes
          a(href='#')
            | passes:
            em#passes 0
        li.failures
          a(href='#')
            | failures:
            em#failures 0

      h1 Isolated tests, report separately
      p(style='font-size: 14px') Scroll down and check each test
    //- test-specific deps, test file should be last in list
    - tests.forEach(function (test) {
      iframe(seamless="seamless", src=test.url + "&iframe=1" + (coverage ? "&coverage=1" : ""))
    - });
