!!! 5
html(lang='en')
	head
		title JS Test Env
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='stylesheet', href='http://getbootstrap.com/dist/css/bootstrap.css', media='screen')
		//- link(rel='stylesheet', href='http://getbootstrap.com/examples/navbar/navbar.css', media='screen')
		link(rel='stylesheet', href='http://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css', media='screen')
	body
		.container
			.navbar.navbar-default.navbar-fixed-top
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/about', title='JavaScript Test Environment') JS Test Env
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='/') All
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
							ul.dropdown-menu
								li
									a(href='#') Action
								li
									a(href='#') Another action
								li
									a(href='#') Something else here
								li.divider
								li.dropdown-header Nav header
								li
									a(href='#') Separated link
								li
									a(href='#') One more separated link

			.jumbotron
				h1 JS Test Environment
				p
					| This is a utility web service for automated testing to our JavaScript files.
					| It's currently in early alpha and may be extremely unstable.
				p
					a.btn.btn-lg.btn-primary(href='/about') View docs »

			.panel.panel-default
				.panel-heading Tests
				.panel-body
					p
						| Below is a list of all found test files. If you have an associated <code>*.tests.html</code> file
						| then your related <code>*.tests.js</code> will not appear in the list. To run an individual test,
						| simply select the test you are testing.

				table.table
					thead
						tr
							th(style='width: 5%; max-width: 20px') #
							th(style='width: 80%') Test
							th(style='width: 15%')
					tbody
						//- for (var x = 0; x < 3; x++)
						- for (var testNumber in tests) {
						- var test = tests[testNumber];
							tr
								td= testNumber
								td
									a(href=test.url)= test.name
								td
						- }

		script(src='//code.jquery.com/jquery.js')
		script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')