!!! 5
html(lang='en')
	head
		title JS Test Env
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='stylesheet', href='/vp/JS-Lib/js-test-env/bootstrap.css', media='screen')
		link(rel='stylesheet', href='/vp/JS-Lib/js-test-env/site.css', media='screen')
	body
		.container
			.navbar.navbar-default.navbar-fixed-top
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/', title='JavaScript Test Environment') JS Test Env
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='/') List

			//- .jumbotron
			//- 	h1 JS Test Environment
			//- 	p
			//- 		| This is a utility web service for automated testing to our JavaScript files.
			//- 		| It's currently in early alpha and may be extremely unstable.
			//- 	p
			//- 		a.btn.btn-lg.btn-primary(href='/about') View docs »

			.panel.panel-default
				.panel-heading Tests
				.panel-body
					p
						| Below is a list of all test files found. If there is an associated
						| <code>*.tests.html</code> file the <code>*.tests.js</code> will not
						| appear in the list. To run an individual test, simply select the test below.

				table.table
					thead
						tr
							th(style='width: 5%; max-width: 20px') #
							th Test file
							th Directory
					tbody
						//- for (var x = 0; x < 3; x++)
						- for (var testNumber in tests) {
						- var test = tests[testNumber];
							tr
								td= testNumber
								td
									a(href=test.url)= test.basename
								td= test.directory
						- }

		//- script(src='//code.jquery.com/jquery.js')
		//- script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')