#progress {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 1031;
  width: 250px;
}

.ProgressBar {
  float: left;
  visibility: hidden;
}

.ProgressPercentage {
  display: block;
  float: left;
  width: 5em;
  text-align: right;
}

.ProgressGraph {
  float: left;
  width: 100px;
  height: 10px;
  border: 1px solid black;
  margin-top: 0.3em;
  background-color: #d4d0c8;
  overflow: hidden;
}

.ProgressCovered {
  /* windows system color ActiveCaption or Highlight */
  background-color: #0a246a;
  width: 0;
  height: 10px;
  overflow: hidden;
}

#progressLabel {
  display: block;
  float: left;
  padding-left: 0.3em;
}

/*******************************************************************************
summary tab
*/

/*#summaryDiv {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}
*/
#summaryErrorDiv {
  color: red;
  font-weight: bold;
}

th, td {
  white-space: nowrap;
}

td.numeric {
  text-align: right;
}

abbr {
  cursor: help;
}

tr#summaryTotals td.leftColumn span {
    float: right;
}
tr#summaryTotals td.leftColumn span.title {
    float: left;
    font-weight: bold;
}
tr#summaryTotals td {
    background-color: #ffd;
}
td.coverage {
    width: 150px;
}
td.coverage span {
    float: right;
    margin-right: 5px;
}
.pctGraph {
    width: 100px;
    height: 10px;
    float: right;
    border: 1px solid #000;
    background-color: #e00000;
    overflow: hidden;
    margin-top: 4px;
}
.pctGraph .covered {
    background-color: #00f000;
    width: 0;
    height: 10px;
}
.pctGraph .skipped {
    background-color: #d4d0c8;
    width: 100px;
    height: 10px;
}
tbody#summaryTbody tr.even td {
    background-color: #e6ffe6;
}

/*******************************************************************************
source tab
*/

/*
IE default behavior is to make <pre> smaller than surrounding text.  Because
the table already has font-size small, this would make the font-size within the
<pre> x-small.  So we don't rely on the default.
*/
table#sourceTable pre {
  font-size: small;
  padding: 0;
  background: inherit;
  line-height: normal;
}

table#sourceTable td {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

table#sourceTable pre {
  border: 0px;
  margin: 0px;
}

.g {
  background-color: #bfffbf;
}

.y {
  background-color: #ffffbf;
}

.r {
  background-color: #ffbfbf;
}

/*******************************************************************************
store tab
*/

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

img {
  visibility: hidden;
}

@keyframes fadeToBackgroundKF {
    from {color: #000;}
    to {color: #f2f2f2;}
}

@-webkit-keyframes fadeToBackgroundKF /* Safari and Chrome */ {
    from {color: #000;}
    to {color: #f2f2f2;}
}

.fadeToBackground {
    color: #f2f2f2;
    font-size: 8pt;
    animation: fadeToBackgroundKF 1s;
    -webkit-animation: fadeToBackgroundKF 1s; /* Safari and Chrome */
}
