.bootstrap {
  min-height: 2000px;
  padding-top: 70px;
}

#testFrame {
    width: 100%;
    height: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    float: right;
}

#passing a, #failing a {
    display: block;
}

#passing a {
    color: green;
}

#failing a {
    color: red;
}